body{
  width: 1200px;
  background-color: #57bc90;
  font-family: fantasy;
}

.container{
  font-size: 12px;
  font-weight: bold;
}

.col-md-12{
  background-color: #99d3df;
}

.col-md-9{
  background-color: #dcd0c0;
  text-align: left;
}
